<html>
	<head>
		<meta charset="UTF-8">
		<link href="styles.css" rel="stylesheet">
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="vue-app">
			
			<label>Name:</label>
			<input type="text" v-model="name" />

			<span>{{name}}</span>

			<br/>
			<label>Age:</label>
			<input type="text" v-model="age" />

			<span>{{age}}</span>

		</div>
<!--when outputing the result of a fucntion only then add () parenthesis must be typed-->
		
		<script src="app-4.js"></script>
	</body>
</html>